<div class="builder-main-cart page-width">
  <h1 class="builder-main-cart__title">{{ 'cart.title' | t }}</h1>

  {%- if cart.item_count > 0 -%}
    <form action="{{ routes.cart_url }}" method="post" class="builder-main-cart__form">
      <table class="builder-main-cart__table">
        <thead>
          <tr>
            <th scope="col">{{ 'cart.product' | t }}</th>
            <th scope="col">{{ 'cart.quantity' | t }}</th>
            <th scope="col">{{ 'cart.total' | t }}</th>
          </tr>
        </thead>
        <tbody>
          {%- for item in cart.items -%}
            <tr>
              <td>
                <a href="{{ item.url }}">{{ item.product.title | escape }}</a>
              </td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.line_price | money }}</td>
            </tr>
          {%- endfor -%}
        </tbody>
      </table>

      <p class="builder-main-cart__subtotal">
        {{ 'cart.subtotal' | t }}: {{ cart.total_price | money }}
      </p>

      <button type="submit" name="checkout" class="builder-button u-focus-ring">
        {{ 'cart.checkout' | t }}
      </button>
    </form>
  {%- else -%}
    <p>{{ 'cart.empty' | t }}</p>
    <a href="{{ routes.all_products_collection_url }}" class="builder-button u-focus-ring">{{ 'cart.continue_shopping' | t }}</a>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Cart",
  "tag": "section",
  "class": "builder-main-cart-section",
  "settings": []
}
{% endschema %}
